__pycache__/
*.py[cod]
*$py.class
venv/
.env/
.envrc
.venv/
build/
dist/
*.egg-info/
.eggs/
.coverage
.coverage.*
.pytest_cache/
htmlcov/
.ipynb_checkpoints/

compiled/
*.zo
*.dep

*.o
*.obj
*.a
*.lib
*.so
*.dylib
*.dll
*.exe
*.out
*.app
*.cubin
*.ptx

CMakeFiles/
CMakeCache.txt
cmake-build-*/
Makefile

.vscode/
.idea/
*.swp
*.swo
*~

.DS_Store
Thumbs.db

*.log